/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  top:0;
  width:100%;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
  z-index: 20;
  background:rgb(86, 143, 145);

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 0.5em 0.5em 0.5em;
    font-family: $sans-serif-narrow;
    font-weight: 700;
    text-transform: uppercase;
    background:transparent;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {
  @include breakpoint($large) {
    @include prefix(2.5 of 12);
  }
background:inherit;
  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  font-size: $type-size-6;
  white-space: nowrap;

  &--lg {
    font-size: $type-size-5;
  }
  a:hover{
    text-decoration:none;
  }
}